notifications:
 webhooks:
  urls:
   - https://open.feishu.cn/officialapp/notify/f644f1205c539d6b38aa7b19584b42fb05d3856dc29796e050635b2dc4ca2ec2
  on_success: always # default: always
  on_failure: always # default: always
  on_start: never # default: never
  on_cancel: always # default: always
  on_error: always # default: always

language: go
go:
 - 1.13.x

script:
- "go build"
- echo $GITHUB_ACCESS_TOKEN | docker login docker.pkg.github.com -u yzs981130 --password-stdin
- docker build -t docker.pkg.github.com/yzs981130/podeventlogger
- docker push docker.pkg.github.com/yzs981130/podeventlogger

deploy:
  provider: releases
  api_key: $GITHUB_ACCESS_TOKEN
  skip_cleanup: true
  file_glob: true
  file: PodEventLogger 
  on:
    repo: yzs981130/PodEventLogger
    tags: true
